/* #icono_usuario{
    color: #fff;
    font-size: 23px;
}

/* .menu_navegacion{
    width: 500px;
} */

/* .menu_usuario, li a:hover{
    color: #fff;
    text-decoration: none;
} */

/* #menu_principal{
    width: 700px;
} */ 