/* li a:hover{  
    border-bottom: 1px solid;
} */

#icono_usuario{
    color: #fff;
    font-size: 23px;
}

.color_usuario{
    color: #fff;
}

.barra_busqueda{
    width: 400px;
}


.menu{
    width: 700px;
}

.link_dropwdown, li a{
    text-decoration: underline;
    color: #fff;
}

.menu_dropdown{
    text-decoration: none;
    color: #fff;
}