/*Menú principal, links*/
#menu_principal a:hover{
border-bottom: 1px solid;
} 

/*Icono de usuario*/
#icono_usuario{
    color: #fff;
    font-size: 23px;
}

/* Barra de búsqueda */
.barra_busqueda{
    width: 400px;
}

/*Ancho Menú de barra de navegación*/
.menu{
    width: 700px;
}

/*Botón dropwdown de usuario*/
#boton_dropdown{
    text-decoration: none;
    
    
}
