@charset "utf-8";
	.home
{
	background : #A9E4D7;
	background : rgba(169, 228, 215, 1);
	border-style : Solid;
	border-color : #56007F;
	border-color : rgba(86, 0, 127, 1);
	border-width : 2px;
	position : absolute ;
	left : 1764px;
	top : 16px;
	width : 54px;
	height : 47px;
}
.lupa
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 2px;
	opacity : 0.81;
	position : absolute ;
	left : 613px;
	top : 268px;
	width : 33px;
	height : 26px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
	filter: alpha(opacity=81) progid:DXImageTransform.Microsoft.Alpha(opacity=81) ;
}

.p1X
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	opacity : 0.81;
	position : absolute ;
	left : 581px;
	top : 276px;
	width : 13px;
	height : 13px;
	filter: alpha(opacity=81) progid:DXImageTransform.Microsoft.Alpha(opacity=81) ;
}
.flecha
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 1630px;
	top : 284px;
	width : 18px;
	height : 9px;
}

.p2X
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	opacity : 0.81;
	position : absolute ;
	left : 581px;
	top : 276px;
	width : 13px;
	height : 13px;
	filter: alpha(opacity=81) progid:DXImageTransform.Microsoft.Alpha(opacity=81) ;
}


.barrita2
{
	background : #A9E4D7;
	background : rgba(169, 228, 215, 1);
	border-style : Solid;
	border-color : #A9E4D7;
	border-color : rgba(169, 228, 215, 1);
	border-width : 6px;
	position : absolute ;
	left : 1844px;
	top : 61px;
	width : 51px;
	height : 1px;
}
.fondobuscador
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 336px;
	top : 264px;
	width : 316px;
	height : 36px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}

.Barra_superior
{
	background : #4B3869;
	background : rgba(75, 56, 105, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 1922px;
	height : 83px;
}
.Estilodecarcternormal4
{
	font-family : Krub;
	font-weight : bold;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}

.barrita3
{
	background : #A9E4D7;
	background : rgba(169, 228, 215, 1);
	border-style : Solid;
	border-color : #A9E4D7;
	border-color : rgba(169, 228, 215, 1);
	border-width : 6px;
	position : absolute ;
	left : 1844px;
	top : 41px;
	width : 51px;
	height : 1px;
}
.Estilodecarcternormal3
{
	font-family : Krub;
	font-weight : bold;
	font-size : 17px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.botoneditar
{
	background : #4B3869;
	background : rgba(75, 56, 105, 1);
	position : absolute ;
	left : 154px;
	top : 265px;
	width : 99px;
	height : 32px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.barrita1
{
	background : #A9E4D7;
	background : rgba(169, 228, 215, 1);
	border-style : Solid;
	border-color : #A9E4D7;
	border-color : rgba(169, 228, 215, 1);
	border-width : 6px;
	position : absolute ;
	left : 1844px;
	top : 21px;
	width : 51px;
	height : 1px;
}

.Fondo_general
{
	background : #E8F1F2;
	background : rgba(232, 241, 242, 1);
	position : absolute ;
	left : 2px;
	top : 0px;
	width : 1920px;
	height : 1080px;
}
.Estilodecarcternormal8
{
	font-family : Krub;
	font-weight : bold;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}

.Estilodecarcternormal
{
	font-family : Krub;
	font-weight : bold;
	font-style : italic;
	font-size : 51px;
	letter-spacing : 0.51px;
	color : #E8F1F2;
	color : rgb(232, 241, 242);
}

.Estilodecarcternormal2
{
	font-family : Krub;
	font-weight : bold;
	font-size : 17px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Barra_superior_tabla
{
	background : #63B4B8;
	background : rgba(99, 180, 184, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 154px;
	top : 334px;
	width : 1610px;
	height : 45px;
}
.Estilodecarcternormal1
{
	font-family : Krub;
	font-weight : bold;
	font-style : italic;
	font-size : 18px;
	letter-spacing : 0.18px;
	color : #000000;
	color : rgb(0, 0, 0);
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.Fondo_tabla
{
	background : #63B4B8;
	background : rgba(99, 180, 184, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 2px;
	opacity : 0.3;
	position : absolute ;
	left : 154px;
	top : 334px;
	width : 1611px;
	height : 405px;
	filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Estilodecarcternormal6
{
	font-family : Krub;
	font-weight : bold;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Estilodecarcternormal7
{
	font-family : Krub;
	font-weight : bold;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Estilodecarcternormal9
{
	font-family : Krub;
	font-weight : bold;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Estilodecarcternormal5
{
	font-family : Krub;
	font-weight : bold;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Estilodecarcternormal11
{
	font-family : Krub;
	font-weight : bold;
	font-size : 48px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.separadorByX
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	opacity : 0.81;
	position : absolute ;
	left : 602px;
	top : 269px;
	width : 0px;
	height : 28px;
	filter: alpha(opacity=81) progid:DXImageTransform.Microsoft.Alpha(opacity=81) ;
}
.botonOrdenar
{
	background : #4B3869;
	background : rgba(75, 56, 105, 1);
	position : absolute ;
	left : 1622px;
	top : 271px;
	width : 141px;
	height : 32px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.barraLateral
{
	background : #664E88;
	background : rgba(102, 78, 136, 1);
	position : absolute ;
	left : 1910px;
	top : 162px;
	width : 12px;
	height : 261px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.Estilodecarcternormal10
{
	font-family : Krub;
	font-weight : bold;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.lupacentro
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	opacity : 0.81;
	position : absolute ;
	left : 617px;
	top : 271px;
	width : 14px;
	height : 13px;
	filter: alpha(opacity=81) progid:DXImageTransform.Microsoft.Alpha(opacity=81) ;
}

.search-box{ /*Para cambiar la apariencia de la cajita*/
	width: 50px; /*Tamaño de la caja entera*/
	text-align: left ;
	padding:6px; /*Altura de cajita*/
	color:#292929; /*Color de las letras cuando escriba el usuario*/
	border:3px solid #4B3869; /*Tamaño, estilo y color del borde,si no queremos borde borrar la línea*/
	background:#ffffff; /*Color de fondo*/
	font: 12px krub; /*Tamaño y tipografia de la palabra BUSCAR (o la que hayas escrito)*/
	border-radius:1px; /*Bordes redondeados, si no los quieres,borrar esta línea*/
	/*Posición*/
	position : absolute ;
	 left : 300px;
	 top : 265px;
	 width : 300px;
	 border-radius : 10px;
	 -moz-border-radius : 10px;
	 -webkit-border-radius : 10px
 }