@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

*{
    font-family: 'Krub', sans-serif;
    background-color: #fefbf3;
}

#title{
    text-align: center;
    font-size: 30px;
       
}

#ulnavbar{
    background-color:#4B3869;
}

/* .container-fluid{
    display: flex;
    justify-content: center;
    padding: 10px
    
} */


#formulario{
    padding: 10px;    
}



