/* Suerte soldados... */
@import url("fontawesome/css/all.css");

.g-signin{
    display: flex !important;
    position: flex;
    align-items: center;
    margin: 0 auto;   
}
/*
Alejandro
Botón usuario
*/
.a-menu_usuario, .btn-link:visited{
    text-decoration: none;
    color: #fff;
  }
.a-menu_usuario, .btn-link:hover{
    color: rgb(255, 255, 255);
  }
#a-icono_usuario{
    color: #fff;
    font-size: 23px;
}
.footer{
    position: relative;
    margin-top: -10px;
    width: 100%;
    padding: 10px;
    clear: booth;
    background: #3a0652c7;
    text-align: center;
    color: #fff;
}